<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Orbivo S20 Socket</title>
  
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io(); // Inicializamos socketIO en el cliente

    //Si se recibe una actualización del estado
    socket.on('meteoNode/', function (msg) {
      console.log("Message received")
      var data = JSON.parse(msg, function(property, value) {
        if (property != "") {
          document.getElementById(property).innerHTML = value;
        }
      });
    });
    
  </script>
</head>

<body>
<h3>Temperature: <span id="temperature"></span></h3>
<h3>Humidity: <span id="humidity"></span></h3>
</body>
</html>